.box {
    border-radius: 10px;
    background: #ededed;
    box-shadow:  18px 18px 45px #9a9a9a, 
                -18px -18px 45px #ffffff;
    width: 80%;
}

.scrollingWrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .card {
    display: inline-block;
  }
